body {
  color: #212529;
}

.dept-page-content {
  margin-left: 5%;
  margin-right: 5%;
}

.dept-heading {
  font-variant-caps: all-petite-caps;
  color: #30003b;
  text-align: center;
  padding: 5.5vh 0 3.5vh 0;
  font-size: 3.7rem;
}

.hero-section {
  width: 100%;
  text-align: center;
  padding: 100px 0;
  margin: 0;
  margin-bottom: 2%;
  overflow: hidden;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9) url('../img/department/cse/facilities_section/5.jpg') center bottom;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  z-index: -1;
}

.hero-section h1 {
  position: relative;
  z-index: 1;
  color: white;
  -webkit-text-stroke: 1px black;
}


/* navigation bar */

.navigation-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  /* padding-bottom: 3%; */
  position: sticky !important;
  top: 20%;
  z-index: 99;
 
  
}
.sectiontongglelink i{
font-weight: 900;
font-size: xx-large;
margin-left: 5px;
margin-bottom: 2px;
}


@media screen and (min-width: 768px) {
  .sectiontongglelink i{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation-bar {
    top: 8%;
    font-size: small;
    display: none;
    
    overflow-x: scroll;
  
  }
  .section111{
    display: flex;
    flex-wrap: wrap;
    
  }
  .custom-card-wrapper{
    height: 70vh !important;
  }
  #hod_desk{
    transform:none;
    transition: none;
  }
  .org-con-section1{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 30px;
    width: 100%;
  }
  .card__list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (min-width: 2425px) {
  .navigation-bar {
    top: 7%;
  }
 
}

.r-link {
  display: var(--rLinkDisplay, inline-flex) !important;
  color: #fff;
}

.r-link[href] {
  color: var(--rLinkColor) !important;
  text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list {
  padding-left: var(--rListPaddingLeft, 0) !important;
  margin-top: var(--rListMarginTop, 0) !important;
  margin-bottom: var(--rListMarginBottom, 0) !important;
  list-style: var(--rListListStyle, none) !important;
}

.menu {
  --rLinkColor: var(--menuLinkColor, currentColor);
}

.menu__link {
  display: var(--menuLinkDisplay, block);
}

.menu__link:focus {
  outline: var(--menuLinkOutlineWidth, 2px) solid
    var(--menuLinkOutlineColor, currentColor);
  background-color: #f6783a;
  color: #212529;
  outline-offset: var(--menuLinkOutlineOffset);
}

.menu:hover .menu__link:not(:hover) {
  --rLinkColor: var(--menuLinkColorUnactive, #212529);
}

.menu {
  background-color: var(--menuBackgroundColor, #f0f0f0);
  box-shadow: var(
    --menuBoxShadow,
    0 1px 3px 0 #104565,
    0 1px 2px 0 #104565
  ) !important;
}

.menu__list {
  display: flex;
}

.menu__link {
  padding: var(--menuLinkPadding, 1.5rem 1rem);
  font-weight: 550;
  text-transform: uppercase;
}

.text-underlined {
  position: relative;
  overflow: hidden;

  will-change: color;
  transition: color 0.25s ease-out;
}

.text-underlined::before,
.text-underlined::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);

  will-change: width;
  transition: width 0.1s ease-out;

  position: absolute;
  bottom: 0;
}

.text-underlined::before {
  left: 50%;
  transform: translateX(-50%);
}

.text-underlined::after {
  right: 50%;
  transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after {
  width: 100%;
  transition-duration: 0.2s;
}

.page__custom-settings {
  --menuBackgroundColor: #104565;
  --menuLinkColor: #104565;
  --menuLinkColorUnactive: #104565;
  --menuLinkOutlineOffset: -0.5rem;
}

.page {
  box-sizing: border-box;
  max-width: 640px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: auto;
}

.page__menu:nth-child(n + 2) {
  margin-top: 3rem;
}

.substack {
  border: 1px solid #eee;
  background-color: #fff;
  width: 100%;
  max-width: 480px;
  height: 280px;
  margin: 1rem auto;
}

.linktr {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  text-align: center;
}

.linktr__goal {
  background-color: rgb(209, 246, 255);
  color: rgb(8, 49, 112);
  box-shadow: #104565 0px 2px 8px 0px;
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
}

.r-link {
  --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
  --uirLinkTextColor: var(--rLinkTextColor);
  --uirLinkTextDecoration: var(--rLinkTextDecoration, none);

  display: var(--uirLinkDisplay) !important;
  color: var(--uirLinkTextColor) !important;
  text-decoration: var(--uirLinkTextDecoration) !important;
}

/* about section */

.our-dept {
  text-align: center;
  background-color: #ffffff;
  width: 100%;
}

.dept-title {
  color: #3498db;
}
.section111{
  width: 100%;
}
.border-line {
  width: 50px;
  height: 3px;
  background-color: #f6783a;
  margin: 10px auto;
}

.dept-sub-title {
  color: #333;
}

.dept-sub-con {
  padding: 0;
  margin-top: 10px;
}

.dept-sub-con li {
  
  text-align: start;
  color: #555;
  list-style: none;
  padding: 10px;
}

.dept-sub-con li::before {
  content: "\2022";
  color: #3498db;
  margin-right: 1.2rem;
  font-size: 1.5rem;
}
.section111{
  display: flex;
  margin-top: 30px;
  
  
}
.custom-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 72px;
  padding-bottom: 32px;
}

.custom-card-wrapper {
  width: 100% ;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center ;
}

.custom-card-wrapper:hover {
  transform: scale(1.05);
}

.custom-card-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.custom-card-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 15px;
}

.custom-card-title {
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 2px solid #f6783a;
  color: #0056b3;
}

.custom-card-text {
  font-size: 17px;
  color: #555;
}

/* HOD Section */

#hod_desk {
  background-color: #f8f9fa;
  padding: 40px 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.4),
  1px 2px 3px 3px rgba(0, 0, 0, 0.2);

}

.hod-section {
  border: 1px solid #f6783a;
  border-radius: 10px;
  padding: 20px;
}

.section-title {
  color: #0056b3;
  text-align: center;
  margin-bottom: 20px;
}

.hod-image img {
  max-width: 200px;
  border-radius: 50%;
  border: 5px solid #3498db;
  display: block;
  margin: 0 auto;
}

.hod-image h5 {
  color: #343a40;
  margin-top: 15px;
  text-align: center;
}

.hod-description p {
  color: #555555;
  font-size: 17px;
  line-height: 2;
  text-align: justify;
}

.hod-section:hover {
  opacity: 1;
  transform: scale(1);
}

/* PURSUITS section*/

.vertical .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vertical .carousel-item-next,
.vertical .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vertical .carousel-item-prev,
.vertical .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.carousel-indicators {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  right: 10px;
  left: auto;
  width: auto;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.carousel-indicators > li {
  display: block;
  border-radius: 12px;
  width: 12px;
  height: 12px;
  border: 0;
  background-color: #000000;
  transition: background-color 0.3s ease;
}

.carousel-indicators li.active {
  margin-bottom: 5px;
  background: #3498db;
  width: 30px;
}

.carousel-indicators li:hover {
  background: #3498db;
  transform: scale(1.2);
}

.carousel.vertical .carousel-control-prev,
.carousel.vertical .carousel-control-next {
  left: auto;
  right: 13.5px;
  width: 50px;
}

.up-icon {
  color: #3498db;
}

.down-icon {
  color: #3498db;
}

.carousel.vertical .carousel-control-prev.up {
  top: 0;
  bottom: 50%;
  /* right:3%; */
}
.carousel.vertical .carousel-control-next.down {
  top: 50%;
  bottom: 0;
  /* right:3%; */
}
.carousel.vertical .carousel-control-prev.up i,
.carousel.vertical .carousel-control-next.down i {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  font-size: 2em;
}
.carousel.vertical .carousel-control-prev.up i {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}
.carousel.vertical .carousel-control-next.down i {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}

.carousel-caption {
  color: #555555;
  max-width: 100%;
  width: 100%;
  height: 85%;
  left: 0;
}

.carousel-caption h2 {
  color: #7b7992;
  font-size: 2em;
  margin-bottom: 10px;
}

.carousel-caption h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.carousel-caption p {
  font-size: 1em;
  padding-bottom: 20px;
}

.carousel-caption a {
  color: #3498db;
  text-decoration: none;
}

.carousel-caption a:hover {
  text-decoration: underline;
}

.carousel-caption .blog-slider__text a {
  display: block;
  margin-top: 5px;
  color: #3498db;
  text-decoration: none;
}

.carousel-caption .blog-slider__text a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  #pursuits.carousel .carousel-item {
    height: 50vh;
  }

  #pursuits.carousel .carousel-control-prev .carousel-control-next {
    display: none;
  }

  #pursuits.carousel .carousel-control-prev,
  #pursuits.carousel .carousel-control-next {
    width: 30px;
    height: 30px;
    font-size: 1.5em;
  }

  #pursuits.carousel .carousel-caption {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  #pursuits.carousel .carousel-caption {
    font-size: 12px;
  }
}

/* FACILITIES section */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "Rubik", sans-serif;
  transition: box-shadow 0.3s;
  border-radius: 40px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.grid > article:hover {
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.grid > article img {
  max-width: 100%;
  transition: transform 0.3s;
  position: relative;
  z-index: 2;
}

.grid > article:hover img {
  transform: scale(1.1);
  z-index: 3;
}

.grid > article::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  border-radius: 40px;
}

.grid > article i {
  font-size: 48px;
  line-height: 70px;
  height: 80px;
  width: 80px;
  border: 6px solid white;
  border-radius: 50%;
  background-color: #3498db;
  text-align: center;
  color: white;
  margin-top: -36px;
  position: relative;
  z-index: 3;
  transition: background-color 0.3s, color 0.3s;
}

.grid > article:hover i {
  background-color: #0056b3;
}

.grid .text {
  position: relative;
  z-index: 4;
  padding: 16px 20px 30px;
}

.facility-heading {
  margin: 0 0 18px 0;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  transition: color 0.3s;
}

.grid > article:hover .facility-heading {
  color: #0056b3;
}

.grid .btn {
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.grid > article {
  animation: fadeIn 0.5s ease-out;
}

.grid > article {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ORGANIZATION section */

.org-container {
  display: flex;
  justify-content: center;
}
.floating-image {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 4s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 20px;
}

.floating-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.floating-image h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 0;
  padding: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* @keyframes floatAnimation1 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, -20px);
  }
}

@keyframes floatAnimation2 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20px, 20px);
  }
} */

.floating-image:nth-child(1) {
  animation: floatAnimation1 8s infinite;
}

.floating-image:nth-child(2) {
  animation: floatAnimation2 8s infinite;
}

.floating-image:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.floating-image:hover img {
  opacity: 0.8;
}

.floating-image:hover h1 {
  opacity: 1;
  transform: translateY(0);
}

.org-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
}

.org-con-section {
  margin-bottom: 40px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.org-con-side-head {
  color: #0056b3;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  border-left: 4px solid #f6783a;
  border-right: 4px solid #f6783a;
}

.org-con-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #007bff;
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.org-con-btn:hover {
  background-color: #0056b3;
}
.org-con-section1{
  display: flex;
}
.org-con-paragraph {
  line-height: 1.6;
  color: #555555;
  padding: 3%;
  font-size: 17px;
  width:80%; 
  text-align:justify;
}

/* OFFICE BEARERS section */

.office-bearers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  flex-wrap: wrap;
}

.second-row-container{
  margin-bottom:5% ;
}
.d-flex {
  display: flex;
}


.justify-content-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
  flex-direction: column;
}

.office_bearers_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card__item {
  margin: 50px;
  position: relative;
  perspective: 1000px;
  width: 200px;
  height: 300px;
}

.card__button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: transform 0.8s ease;
}

.card__front {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.card__back {
  background-color: #3498db;
  border-radius: 10px;
  overflow: hidden;
  transform: rotateY(180deg);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card__name {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.card__term,
.card__detail {
  margin: 5px 0;
  font-size: 17px;
  color: #fff;
}

.card__item:hover .card__front {
  transform: rotateY(180deg);
}

.card__item:hover .card__back {
  transform: rotateY(0deg);
}