body {
  color: #212529;
}

.dept-page-content {
  margin-left: 5%;
  margin-right: 5%;
}

.dept-heading {
  font-variant-caps: all-petite-caps;
  color: #30003b;
  text-align: center;
  padding: 5.5vh 0 3.5vh 0;
  font-size: 3.7rem;
}

/* navigation bar */

.navigation-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 3%;
  position: sticky !important;
  top: 20%;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .navigation-bar {
    top: 50%;
    font-size: small;
  }
}

@media screen and (min-width: 2425px) {
  .navigation-bar {
    top: 7%;
  }
}

.r-link {
  display: var(--rLinkDisplay, inline-flex) !important;
  color: #fff;
}

.r-link[href] {
  color: var(--rLinkColor) !important;
  text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list {
  padding-left: var(--rListPaddingLeft, 0) !important;
  margin-top: var(--rListMarginTop, 0) !important;
  margin-bottom: var(--rListMarginBottom, 0) !important;
  list-style: var(--rListListStyle, none) !important;
}

.menu {
  --rLinkColor: var(--menuLinkColor, currentColor);
}

.menu__link {
  display: var(--menuLinkDisplay, block);
}

.menu__link:focus {
  outline: var(--menuLinkOutlineWidth, 2px) solid
    var(--menuLinkOutlineColor, currentColor);
  background-color: #104565;
  color: #212529;
  outline-offset: var(--menuLinkOutlineOffset);
}

.menu:hover .menu__link:not(:hover) {
  --rLinkColor: var(--menuLinkColorUnactive, #212529);
}

.menu {
  background-color: var(--menuBackgroundColor, #f0f0f0);
  box-shadow: var(
    --menuBoxShadow,
    0 1px 3px 0 #104565,
    0 1px 2px 0 #104565
  ) !important;
}

.menu__list {
  display: flex;
}

.menu__link {
  padding: var(--menuLinkPadding, 1.5rem 1rem);
  font-weight: 550;
  text-transform: uppercase;
}

.text-underlined {
  position: relative;
  overflow: hidden;

  will-change: color;
  transition: color 0.25s ease-out;
}

.text-underlined::before,
.text-underlined::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);

  will-change: width;
  transition: width 0.1s ease-out;

  position: absolute;
  bottom: 0;
}

.text-underlined::before {
  left: 50%;
  transform: translateX(-50%);
}

.text-underlined::after {
  right: 50%;
  transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after {
  width: 100%;
  transition-duration: 0.2s;
}

.page__custom-settings {
  --menuBackgroundColor: #104565;
  --menuLinkColor: #104565;
  --menuLinkColorUnactive: #104565;
  --menuLinkOutlineOffset: -0.5rem;
}

.page {
  box-sizing: border-box;
  max-width: 640px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: auto;
}

.page__menu:nth-child(n + 2) {
  margin-top: 3rem;
}

.substack {
  border: 1px solid #eee;
  background-color: #fff;
  width: 100%;
  max-width: 480px;
  height: 280px;
  margin: 1rem auto;
}

.linktr {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  text-align: center;
}

.linktr__goal {
  background-color: rgb(209, 246, 255);
  color: rgb(8, 49, 112);
  box-shadow: #104565 0px 2px 8px 0px;
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
}

.r-link {
  --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
  --uirLinkTextColor: var(--rLinkTextColor);
  --uirLinkTextDecoration: var(--rLinkTextDecoration, none);

  display: var(--uirLinkDisplay) !important;
  color: var(--uirLinkTextColor) !important;
  text-decoration: var(--uirLinkTextDecoration) !important;
}

/* about section */

.our-dept {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dept-title {
  color: #3498db;
}

.border-line {
  width: 50px;
  height: 3px;
  background-color: #3498db;
  margin: 10px auto;
}

.dept-sub-title {
  color: #333;
}

.dept-sub-con {
  list-style: none;
  padding: 0;
}

.dept-sub-con li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  color: #555;
}

.dept-sub-con li::before {
  content: "\2022";
  color: #3498db;
  font-size: 1.5em;
  margin-right: 1vh;
}

.custom-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 72px;
  padding-bottom: 32px;
}

.custom-card-wrapper {
  width: 45%;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center center;
}

.custom-card-wrapper:hover {
  transform: scale(1.05);
}

.custom-card-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.custom-card-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 15px;
}

.custom-card-title {
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 2px solid #3498db;
  color: #3498db;
}

.custom-card-text {
  font-size: 17px;
  color: #555;
}

/* HOD Section */

#hod_desk {
  background-color: #f8f9fa;
  padding: 40px 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.hod-section {
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 20px;
}

.section-title {
  color: #3498db;
  text-align: center;
  margin-bottom: 20px;
}

.hod-image img {
  max-width: 200px;
  border-radius: 50%;
  border: 5px solid #3498db;
  display: block;
  margin: 0 auto;
}

.hod-image h5 {
  color: #343a40;
  margin-top: 15px;
  text-align: center;
}

.hod-description p {
  color: #555555;
  font-size: 17px;
  line-height: 2;
  text-align: justify;
}

.hod-section:hover {
  opacity: 1;
  transform: scale(1);
}

/* PURSUITS section*/

.vertical .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vertical .carousel-item-next,
.vertical .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vertical .carousel-item-prev,
.vertical .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.carousel-indicators {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  right: 10px;
  left: auto;
  width: auto;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.carousel-indicators > li {
  display: block;
  border-radius: 12px;
  width: 12px;
  height: 12px;
  border: 0;
  background-color: #000000;
  transition: background-color 0.3s ease;
}

.carousel-indicators li.active {
  margin-bottom: 5px;
  background: #3498db;
  width:30px;
}

.carousel-indicators li:hover {
  background: #3498db;
  transform: scale(1.2);
}

.carousel.vertical .carousel-control-prev,
.carousel.vertical .carousel-control-next {
  left: auto;
  right: 13.5px;
  width: 50px;
}

.up-icon:hover{
  color:#3498db
}

.down-icon:hover{
  color:#3498db
}

.carousel.vertical .carousel-control-prev.up {
  top: 0;
  bottom: 50%;
  /* right:3%; */
}
.carousel.vertical .carousel-control-next.down {
  top: 50%;
  bottom: 0;
  /* right:3%; */
}
.carousel.vertical .carousel-control-prev.up i,
.carousel.vertical .carousel-control-next.down i {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  font-size: 2em;
}
.carousel.vertical .carousel-control-prev.up i {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}
.carousel.vertical .carousel-control-next.down i {
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
}

.carousel-caption {
  color: #555555;
  max-width: 100%;
  width: 100%;
  height: 85%;
  left: 0;
}

.carousel-caption h2 {
  color: #7b7992;
  font-size: 2em; 
  margin-bottom: 10px;
}

.carousel-caption h4 {
  font-size: 1.5em; 
  margin-bottom: 20px; 
}

.carousel-caption p {
  font-size: 1em;
  padding-bottom: 20px;
}

.carousel-caption a {
  color: #3498db; 
  text-decoration: none;
}

.carousel-caption a:hover {
  text-decoration: underline; 
}

.carousel-caption .blog-slider__text a {
  display: block;
  margin-top: 5px;
  color: #3498db; 
  text-decoration: none;
}

.carousel-caption .blog-slider__text a:hover {
  text-decoration: underline; 
}

@media (max-width: 768px) {
  #pursuits.carousel .carousel-item {
    height: 50vh;
  }

  #pursuits.carousel .carousel-control-prev .carousel-control-next {
    display: none;
  }

  #pursuits.carousel .carousel-control-prev,
  #pursuits.carousel .carousel-control-next {
    width: 30px;
    height: 30px;
    font-size: 1.5em;
  }

  #pursuits.carousel .carousel-caption {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  #pursuits.carousel .carousel-caption {
    font-size: 12px;
  }
}